<h1>Welcome to your dictionary!</h1>

<h2>Here are your words:</h2>


<% @all_words.each() do |word| %>
  <ul>
    <li><h3><a href="/word/<%= word.id() %>"><%= word.show() %></a></h3></li>
  </ul>
<% end %>
<br>

<h4>Add a new word to your dictionary:</h4>
 <form action='/new_word' method='post'>
  <div class="form-group">
    <input id="new_word" name="new_word" type="text" class="form-control input-sm">
  </div>

  <button type="submit" class="btn-default">Add</button>
</form>
