<h1>Welcome to your dictionary!</h1>

<h3>Add a new word to your dictionary:</h3>
 <form action='/new_word' method='post'>
  <div class="form-group">
    <input id="new_word" name="new_word" type="text" class="form-control">
  </div>

  <button type="submit" class="btn-success">Add</button>
</form>

<p><a href="/word_list">View your dictionary</a></p>